/* styles for signlink project */

body, html {
	padding:0px;
	height:100%;
	margin:2px;
	margin-left:auto;
	margin-right:auto;
	width:760px;	
}

body {
	font-family: Verdana, Arial, sans-serif;
	font-size: smaller;
	line-height: 150%;
	background-color: #F5F9FE;
}

table {
	font-size: small;
}

img {
	border:0px;
}

#container {
	clear:both;
	background-color: white;
	border: 1px solid #9599A1;

	padding-left:10px;
	padding-right:10px;

	min-height: 100%;
	position: relative;
	height: auto !important;
	height:100%;
}

#header {
	color:black;
	margin: 0px;
	padding-left:10px;
}

h1, h2 {
	color: #2D5E9B;
}

#menu {
	margin-top:15px;
	margin-bottom:15px;	
}

#submenu {
	vertical-align:bottom;
	float:right;
}

#menu ul, #submenu ul {
	display:inline;
	clear:both;
	list-style:none;
	padding-left:0px;
}

#menu li {
	display:inline;
	list-style:none;
	margin-right:5px;
}

#submenu li {
	display:inline;
	list-style:none;
}

#menu li img {
	padding:8px;	
	border:1px solid #ccc;
	background-color: #efefef;
}

#submenu li img {
	padding:8px;
	margin-bottom:-5px;
	border:1px solid #efefef;	
}

.buttonimage {
	padding:8px;	
	border:1px solid #ccc;
	background-color: #efefef;
}

#menu li img:hover, #submenu li img:hover, .buttonimage:hover {
	background-color: #cbdbef;
	border: 1px solid #7299C9;
}

#page-menu {
	list-style:none;
	margin:0px;
	padding:0px;
	padding-top:10px;
	padding-bottom:10px;
}

#page-menu li {
	margin:0px;
	display:inline;
	list-style:none;
}

#content {
	clear: both;
	margin-left: auto;
	margin-right: auto;
	padding-bottom:2.8em;
}

#content textarea {
	width:100%;
	height:5em;
}

#footer {
	font-size:smaller;
	color:black;
	text-align: center;

	clear: both;
	width:100%;
	position: absolute;
	bottom: 0 !important;
	height:1.8em;
}

/* links */

a:link, a:visited {
	text-decoration: none;
	color: #11568B;
}
a:hover {
	text-decoration: underline;
	color: blue;
}

#content a:link, #content a:visited {
	text-decoration: underline;
	color: #11568B;
}
#content a:hover {
	text-decoration: none;
	color: blue;
}

/* forums */

/* category page */
table#cats {
	width:98%;
	margin-left:auto;
	margin-right:auto;
}
table#cats th {
	background-color:#c4c4c4;
}

table#cats td {
	vertical-align:top;
	background-color: #efefef;
	text-align:center;
	padding:3px;
}

#block-container {
		width:auto;

	margin-left:auto;
	margin-right:auto;

}

#paging {
	text-align:right;
	font-size: smaller;
	padding-right:10px;
}

div.cat {
	float:left;
	text-align:center;
	vertical-align:middle;
	background-color: #efefef;
	width: 160px;
	padding:3px;
	margin:6px;
	border:1px solid #9A9A9A;
}

div.cat img {
	padding:2px;
	border:0px;
	margin-bottom:-6px;
}

div.cat .title {
	background-color:white; 
	height:170px; 
	clear:both; 
	padding:5px; 
	border:1px solid #ccc;
	margin-bottom:5px;
}

div.page {
	float:left;
	text-align:center;
	vertical-align:middle;
	background-color: #efefef;
	width: 160px;
	margin:6px;
	border:1px solid #9A9A9A;
}

div.page img {
	padding:2px;
	border:0px;
	margin-bottom:-6px;
}

div.page .title {
	background-color:white; 
	height:170px; 
	clear:both; 
	padding:5px; 
}

.goto {
	display:block;
	text-align:left;
	width:145px; 
	height:19px; 
	background-color:#7299C9;
	padding-left:5px;
}

a.goto:hover {
	background-color:#0001FC; 
}

/* forum posts page */

div.post {
	float:left;
	text-align:center;
	vertical-align:middle;
	background-color: #efefef;
	width: 180px;
	padding:5px;
	margin:10px;

	border:1px solid black;
}

div.post img {
	padding:2px;
	border:0px;
}
div.post object {
	padding:7px;
}

div.post .title {
	background-color:white; 
	height:150px; 
	clear:both; 
	padding:10px; 
	border:1px solid #9A9A9A;
	margin-bottom:5px;
}

/* post page */
#post {
	border:1px solid #ccc;
}

#post-info {
	padding:10px 5px 10px 5px;
	float:left;
	width: 8em;
	text-align:center;
}
#post-msg {
	padding:10px 5px 4em 5px;

	margin-left: 9em;
}

/* "breadcrumbs" */

h3.bread, h4.bread, h5.bread {
	display:inline;
	float:left;
	margin:2px;
}

.bold {
	font-weight:bold;
}
.italic {
	font-style:italic;
}

ul#menu-right {
	margin:0px;
	float:right;
	display:inline;
	list-style: none;
}

ul#menu-right li {
	display:inline;
	list-style: none;
	margin-left:5px;
}



/* forms */
div.input-form {
	width: 98%; 
	margin-left:auto; 
	margin-right:auto;
	/*border: 1px solid #f0f0f0;*/
	margin-bottom: 20px;
	margin-top: 20px;
	padding: 10px;

	background-color:#efefef;
	border:1px solid black;
}

div.row {
	/*background-color: #fdfdfd;*/
	padding:8px;
}

ul.links-list {
	margin:0px;
}
ul.links-list li {
	padding:3px;
}

div.notes {
	background-color:#efefef;
	border:1px solid black;
}

div.workbench {
	background-color: #efefef;
	margin-bottom:10px; 
	border:1px dashed #666;
	margin-top:10px;	
	padding:10px;	
}
div.workbench h3 {
	margin:0px;
	font-size:small;
}


div.important-info {
	background-color: #E2F0F4;
	border:1px solid black;
	padding:10px;
	margin-top:10px;
}
div.file-info {
	background-color: #FEFDDC; 
	margin-top:10px; 
	border:1px solid black;
	padding:10px;
}

div.choices {
	margin-left:10px;
}

div.choice-info {
	padding:5px;
	margin-left:20px;
}

/* manage pages */

table.manage {
	width:100%;
	padding-top:20px;
	border-collapse: collapse;
	background-color: #efefef;
}
table.manage td {
	margin:0px;
	padding:5px;
}
table.manage tr.row1 {
	background-color: #efefef;
}
table.manage tr.row2 {
	background-color: #fbfbfb;
}
table.manage th {
	text-align:left;
	background-color: #D6E5F1;
	padding:5px;
}

fieldset {
	border: 1px solid #cacaca;
	margin:8px; 
}
legend, .form-title {
	color: #2E56A0;
	font-weight: bold;
	font-size:large;
}


/* msgs */

div.error {
	width:80%;
	margin-left:auto;
	margin-right:auto;
	background-color: #F4E0E0;
	border: 1px solid #A64040;
	padding:10px;
	margin:10px;
}

div.feedback {
	width:80%;
	margin-left:auto;
	margin-right:auto;
	background-color: #D4ECD1;
	border: 1px solid #4CA640;
	padding:10px;
	margin:10px;
}

div.notice {
	width:80%;
	margin-left:auto;
	margin-right:auto;
	background-color: #f3edf6;
	border: 1px solid #9977a8;
	padding:10px;
	margin:10px;
}

/* pairs of info */
dl.col-list {  
	margin:0px;
} 

dl.col-list dt { 
	margin-left:20px;
	padding-bottom:5px;

}

/* dl.col-list dt { 
	float: left;  
	font-weight: bold;  
	text-align: right;  
	clear: left;  
	padding: 5px;  
	vertical-align: middle; 
	width:5em;
} 
dl.col-list dd { 
	margin-left:6em;
	margin-bottom: 5px;  
	clear: right;  
	padding: 5px 0px 5px 10px;  
	text-align:left;
} */

/*buttons */
input.button {
	border:1px solid black;
	background-color: #efefef;
	padding-left:10px;
	padding-right:10px;
}

#post-title {
	vertical-align:middle;
	background-color:#efefef; 
	padding:5px; 
	height:75px; 
	border:1px solid #ccc; 
	margin-top:5px;
	margin-bottom:5px;
}

#post-title h2 {
	display:inline;
	float:left;
	margin:0px;	
}