/* styles for signlink project, IE specific */

body {
	width:100%;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}

#container {
	text-align:left;
	margin-top:-5px;
}

#header {
	padding-top:15px;
	padding-bottom:0px;
}

div.cat {
	height: 180px;
}

div.cat img {
	vertical-align:middle;
	margin-top:-2px;
}

div.cat .title {
	height:150px; 
}